<h3>Coberturas Financieras
   <div class="pull-right">
      <button class="mb-sm btn btn-primary" ui-sref="app.forms.start_corfwf_multi">Nuevo</button>
   </div>
   <small>Lista de tareas de las coberturas financieras</small>
</h3>
<div class="container-fluid" ng-controller="CorfWfController as table">
   <!-- Filter Example-->
   <h4>Filter Example</h4>
   <div class="row">
      <div class="col-lg-4 col-md-6">
         <input class="mb form-control" placeholder="Filter..." type="text" ng-model="table.gridOptions.quickFilterText" />
      </div>
      <div class="ag-angle" ag-grid="table.gridOptions" style="width: 100%; height: 400px;"></div>
   </div>
</div>