<h3>{{ table.header }}
   <div class="pull-right btn-group">
      <button class="mb-sm btn btn-primary btn-outline mr-sm" ng-if="table.showBtnAmount|| table.showBtnEmitFolio">{{ table.selectedAmount | currency }}</button>
      <button class="mb-sm btn btn-primary mr-sm" ng-disabled="table.approveBtnAmount" ng-if="table.showBtnAmount" ng-click="table.wfOutput('prop_corf_estadoTarea', 'Emision_Folio', 'approveBtnAmount')">
         <span ng-show="table.approveBtnAmount"><i class="fa fa-refresh fa-spin"></i>
         </span>
         <span>Aprobar</span>
      </button>
      <button class="mb-sm btn btn-warning" ng-if="table.showBtnAmount" ng-disabled="table.rejectBtnAmount" ng-click="table.wfOutput('prop_corf_estadoTarea', 'Rechazado_por_Corfo', 'rejectBtnAmount')">
         <span ng-show="table.rejectBtnAmount"><i class="fa fa-refresh fa-spin"></i>
         </span>
         <span>Rechazar</span>
      </button>
      <button class="mb-sm btn btn-primary mr-sm" ng-if="table.showBtnApproveLote" ng-disabled="table.approveBtnOutput" ng-click="table.wfOutput('prop_corf_estadoTarea', 'Aprobado_en_lote', 'approveBtnOutput')">
         <span ng-show="table.approveBtnOutput"><i class="fa fa-refresh fa-spin"></i>
         </span>
         <span>Aprobar Lote</span>
      </button>
      <button class="mb-sm btn btn-warning" ng-if="table.showBtnRejectLote" ng-disabled="table.rejectBtnOutput" ng-click="table.wfOutput('prop_corf_estadoTarea', 'Rechazado_en_lote', 'rejectBtnOutput')">
         <span ng-show="table.rejectBtnOutput"><i class="fa fa-refresh fa-spin"></i>
         </span>
         <span>Rechazar Lote</span>
      </button>
      <button class="mb-sm btn btn-primary mr-sm" ng-click="table.openModalFolio()" ng-if="table.showBtnEmitFolio">Emitir Folio de Pago</button>
   </div>
   <small>{{ table.headerDesc }}</small>
</h3>
<div class="container-fluid">
   <div class="flex flex-row">
      <div class="flex-1" ng-style="table.selectedNode ?{width:'calc(100% - 250px)'} :undefined">
         <div class="ag-angle" ag-grid="table.gridOptions" style="width: 100%; height: 700px;"></div>
      </div>
      <div class="flex-0" style="width:250px;" ng-if="table.selectedNode">
         <div class="panel panel-default ml-sm">
            <div class="panel-body">
               <p class="lead"> <a href="#">{{ table.selectedNode.data.prop_corf_numeroOperacionIfi }} / {{ table.selectedNode.data.prop_corf_rut }}</a>
               </p>
               <p>
                  <button class="btn btn-default btn-sm" type="button" ng-if="showBtnUploadFiles"><i class="fa fa-paperclip"></i>
                  </button>
               </p>
               <p>
                  <select class="chosen-select input-md" chosen="" ng-model="inputg1" width="'200px'">
                     <option value=""></option>
                     <option value="delete">Anular Proceso</option>
                     <option value="approveLote">Aprobar Lote</option>
                     <option value="rejectLote">Rechazar Lote</option>
                  </select>
               </p>
               <p class="bg-warning-dark" ng-if="table.selectedNode.data.prop_corf_rechazoReglas">{{ table.selectedNode.data.prop_corf_rechazoReglas }}</p>
               <p></p>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/ng-template" id="withInlineController">
   <form class="ngdialog-message" name="formAmount"><h3 class="mt0">Asociar Comprobante de Pago</h3><p><div class="form-group"><label>Declarar monto del comprobante ( Monto Seleccionado: {{ model.selectedAmount | currency }} )</label><input class="form-control" name="amountValue" required="" ng-model="model.amountValue" type="text" max-allowed="model.selectedAmount" money-mask=""/><span class="text-danger" ng-show="validateInput('amountValue', 'required')">El monto es requerido</span><span class="text-danger" ng-show="validateInput('amountValue', 'maxAllowed')">El monto excede el maximo permitido</span></div><div class="form-group"><label>Adjuntar comprobante de pago</label><input class="form-control" name="fileInput" required="" ng-model="model.fileInputAmount" filestyle="" type="file" data-button-text="Seleccionar Archivo" data-classbutton="mb-sm btn btn-primary" data-classinput="form-control inline" file-change="onUploadFileAmount"/><span class="text-danger" ng-show="validateInput('fileInput', 'required')">El archivo es requerido</span></div></p><div class="text-right"><button class="btn btn-primary" type="button" ng-click="emitFolio()">Emitir Folio</button></div></form>
</script>