.block-center.mt-xl.wd-xl(ng-controller="LoginFormController as login")
  // START panel
  .panel.panel-flat
    .panel-heading.text-center
      a(href="#")
        img.block-center.img-rounded.wd-wide(src='app/img/logo-corfo.png', alt='Image')
    .panel-body
      p.text-center.pv Acceso a la plataforma.
      form.form-validate(role='form', ng-submit="login.login()", name='login.loginForm', novalidate='').mb-lg
        .form-group.has-feedback
          input#exampleInputEmail1.form-control(name="account_email" placeholder='Usuario o email', autocomplete="off", ng-model="login.account.email", required='')
          span.fa.fa-user.form-control-feedback.text-muted
          span.text-danger(ng-show="login.loginForm.account_email.$dirty && login.loginForm.account_email.$error.required") El usuario es requerido
          span.text-danger(ng-show="login.loginForm.account_email.$dirty && login.loginForm.account_email.$error.email") Se requiere una dirección de correo válida
        .form-group.has-feedback
          input#exampleInputPassword1.form-control(type='password', name="account_password" placeholder='Password', ng-model="login.account.password", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="login.loginForm.account_password.$dirty && login.loginForm.account_password.$error.required") La contraseña es requerida
        
        button.btn.btn-block.btn-primary.mt-lg(type='submit') Login
      
      .alert.alert-danger.text-center(ng-show='login.authMsg') {{login.authMsg}}
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
