<div class="block-center mt-xl wd-xl" ng-controller="LoginFormController as login">
   <!-- START panel-->
   <div class="panel panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img class="block-center img-rounded wd-wide" src="app/img/logo-corfo.png" alt="Image" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">Acceso a la plataforma.</p>
         <form class="form-validate mb-lg" role="form" ng-submit="login.login()" name="login.loginForm" novalidate="">
            <div class="form-group has-feedback">
               <input class="form-control" id="exampleInputEmail1" name="account_email" placeholder="Usuario o email" autocomplete="off" ng-model="login.account.email" required="" />
               <span class="fa fa-user form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="login.loginForm.account_email.$dirty &amp;&amp; login.loginForm.account_email.$error.required">El usuario es requerido</span>
               <span class="text-danger" ng-show="login.loginForm.account_email.$dirty &amp;&amp; login.loginForm.account_email.$error.email">Se requiere una dirección de correo válida</span>
            </div>
            <div class="form-group has-feedback">
               <input class="form-control" id="exampleInputPassword1" type="password" name="account_password" placeholder="Password" ng-model="login.account.password" required="" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="login.loginForm.account_password.$dirty &amp;&amp; login.loginForm.account_password.$error.required">La contraseña es requerida</span>
            </div>
            <button class="btn btn-block btn-primary mt-lg" type="submit">Login</button>
         </form>
         <div class="alert alert-danger text-center" ng-show="login.authMsg">{{login.authMsg}}</div>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>