h3 Nueva carga de lote
    .pull-right.btn-group
    small Seleccionar un documento excel

.container-fluid
    .row
        .col-sm-12
            .panel.panel-default
                .panel-heading Datos de Entrada para inicio de instancias múltiples
                .panel-body
                    form(role='form', name="formCorfwf.uploadMultiple", ng-submit="formCorfwf.onSubmitUploadMultiple()", novalidate="")
                        .row
                            .col-sm-12
                                .form-group
                                    label Archivo Excel 2007(xlsx) de carga masiva
                                    input.form-control(
                                        name="fileInput"
                                        required=""
                                        ng-model="formCorfwf.model.fileInput"
                                        filestyle="", 
                                        type='file', 
                                        data-button-text="Seleccionar Archivo", 
                                        data-classbutton="mb-sm btn btn-primary", 
                                        data-classinput="form-control inline",
                                        file-change="formCorfwf.onUploadFile"
                                    )
                                    span.text-danger(ng-show="formCorfwf.validateInput('fileInput', 'required')") El archivo es requerido
                                
                            .col-sm-12    
                                .form-group
                                    .text-right
                                        button.btn.btn-primary.mr-sm(type="submit") 
                                            span(ng-show="formCorfwf.submitting")
                                                i.fa.fa-refresh.fa-spin
                                            span Iniciar Procesos
                            .col-sm-12(ng-show="formCorfwf.showSendButton")
                                .form-group
                                    label Datos disponibles para carga
                                    .ag-angle(ag-grid='formCorfwf.gridOptions', style="width: 100%; height: 400px;")